:root{
    --font-title: 'Figtree', sans-serif;
    --font-body: 'Sora', sans-serif;

    --color-dark: #334155;
    --color-light: #f1f5f9;
    --color-accent: #fd7120ea;
    --color-alternate: #92b1d2;

    --color-slate700: #374151;
    --color-stone500: #78716c;
    --colot-stone800: #292524;

}
/* ------------------end */

/* Reset for Webpage */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
    line-height: calc(1em + 0.5em);
}
html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    font-family: var(--font-body);
}

img,
picture,
svg,
video{
    display: block;
    max-width: 100%;
    user-select: none;
}

input,
textarea,
button,
select{
    font: inherit;
}
/* ------------------end */

/* Header Section */
.navigation__menu{
    border: 1px solid;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 6fr 1fr;
    place-content: center;
    padding: 10px;
}

.navigation__logo__wrapper{
    display: flex;
    text-align: center;
    align-items: center;
    gap: .25rem;
}

.navigation__logo__wrapper p{
    font-weight: 200;
}

.navigation__logo{
    max-height: 1rem;
}

.navigation__list__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    text-align: center;
}

.navigation__list__wrapper li{
    list-style: none;
}

.navigation__list__wrapper a{
    text-decoration: none;
    color: inherit;
    font-weight: 200;
}







/* => /////////// Media Query Responsive Webpages //////////// */

/* Container Utility Class */
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* Section Utility Class */
.sections{
    margin: 10px auto;
}

.button{

}

/* => I am building mobile first so I am using min-width for media query breakpoints. The container classes within each media query breakpoint makes sure that it does not out grow the breakpoint size. */
/* xs screens */

@media(min-width: 475px) {
    .container{
        max-width: 475px;
    }

    
   
}

/* small screens */
@media(min-width: 640px) {
    .container{
        max-width: 640px;
    }
}

/* medium screens */
@media(min-width:768px) {
    .container{
        max-width: 768px;
    }

}

/* large screens */
@media(min-width: 1024px) {
    .container{
        max-width: 1024px;
    }
    
}

/* extra large screens */
@media(min-width: 1280px) {
    .container{
        max-width: 1280px;
    }
}

/* 2XL screens */
@media(min-width: 1536px) {
    .container{
        max-width: 1536px;
    }
}

/* /////////// Media Query Responsive Webpages //////////// */



